<div style="text-align:center;">
    <span>Copyright &copy; 2014 <a href="http://www.ProductionReady.com">Production Ready, LLC</a>. All Rights Reserved.</span>
    <span><a href="https://github.com/ProductionReady/Eleflex"><img src="/Images/ProductionReady/AGPLv3.png" title="AGPL License Logo" />Download Source</a></span>
</div>
