/* ORANGE #f7941e */
/* BLUE #3195b7 */

h1{color:#3195b7; font-size:2.1em;margin-top:0px;}
h2{font-size:1.9em;}
h3{font-size:1.7em;}

.DivBorder {    
    border: 1px solid #3195b7;
    border-radius:5px;
}

.jumbotron {
  padding: 30px;
  margin-bottom: 30px;
  color: #ffffff;
  background-color: #3195b7;
}
.jumbotron h1,
.jumbotron .h1 {
  color: inherit;
}
.jumbotron p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}
.jumbotron > hr {
  border-top-color: #157254;
}
.container .jumbotron {
  border-radius: 6px;
}
.jumbotron .container {
  max-width: 100%;
}


