@{
    ViewBag.Title = "ELEFLEX HOME";
}
<div class="jumbotron jumbotron-ad">
    <div class="container-fluid">
        <h1>Welcome to ELEFLEX<sup>&reg;</sup></h1>
        <p class="lead">
            ELEFLEX<sup>&reg;</sup> is a platform for building modular, domain-driven, service-oriented web applications and services.
            The platform utilizes several open source libraries in it's foundation to provide a common, integrated framework.
            It's modular design enables teams of developers to create modules independently while easily integrating and publishing via NuGet to promote community collaboration.
        </p>
    </div>
</div>
<h2 class="homeh2">Common Services Infrastructure</h2>
<p>
    The ELEFLEX<sup>&reg;</sup> platform comes with several pre-loaded modules and services to help you create your next project quickly using the latest tools and open source projects.
    <a href="https://github.com/ProductionReady/Eleflex">Download the complete source code online</a> to begin learning or to modify for your solution's needs.
        The following modules are included with the default installation to help you begin building new applications quickly.
</p>
<div class="row">
    <div class="col-md-6">
        <h3><i class="fa fa-database"></i> Storage</h3>
        <p>The Storage Module provides the foundation for connecting to multiple data sources (databases, file systems, memory, etc) simultaneously with support for customizing new providers.</p>
    </div>
    <div class="col-md-6">
        <h3><i class="fa fa-cubes"></i> Services</h3>
        <p>The Services Module enables service communication for all integrated modules. A single WCF endpoint exposes all domain service commands, messages, customization and integration.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h3><i class="fa fa-lock"></i> Security</h3>
        <p>The Security Module allows administration of users, roles and permissions that can be customized, along with effective date assignments.</p>
    </div>
    <div class="col-md-6">
        <h3><i class="fa fa-archive"></i> Logging</h3>
        <p>The Logging Module stores system information messages about the execution of the website for auditing and debugging purposes.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h3><i class="fa fa-list-alt"></i> Lookups</h3>
        <p>The Lookups Module exposes a generic lookup table provider for grouping metadata items into categories for use with all system modules and cross integration.</p>
    </div>
    <div class="col-md-6">
        <h3><i class="fa fa-code-fork"></i> Versioning</h3>
        <p>The Versioning Module provides developers creating modules a mechanism for auto-patching and upgrading exising ELEFLEX<sup>&reg;</sup> installations.</p>
    </div>
</div>
<h2>Module Integration</h2>
<p>
    ELEFLEX<sup>&reg;</sup> Modules are packaged and deployed via <a href="http://NuGet.org">NuGet</a> to allow integration with any ELEFLEX<sup>&reg;</sup> installation.
    View our <a href="http://ProductionReady.com">Developer Documentation Online</a> along with video tutorials, sample code and downloads to get started.
</p>
<h2>Deployment Flexibility</h2>
<p>
    ELEFLEX<sup>&reg;</sup> supports several storage providers and deployment environments to give you the greatest flexibility.
    You can utilize one storage mechanism for all your modules, or mix and match modules, each with a different storage mechanism for the most flexible deployment options.
    Additionally, you can host multiple web services and applications, each with different components, as well as client applications that only require the "Message"
    assemblies to expose service contracts.
    The ELEFLEX<sup>&reg;</sup> platform supports the following storage providers by default:
    <ul>
        <li>Microsoft SQL Server v2005 and greater</li>
        <li>Microsoft Entity Framework v6.1 and greater</li>
        <li>Custom Providers</li>
        <li>Azure, Oracle, MySql, MongoDB, RavenDB and other providers, Coming Soon!</li>
    </ul>
</p>
