@{
    ViewBag.Title = "Security Administration";
}
<h1>Security Administration</h1>
<p>
    Manage security for the application. (COMING SOON!)
</p>
<ul>
    <li>@Html.ActionLink("Manage Users", "Index", "~~Admin/Security.Users")</li>
    <li>@Html.ActionLink("Manage Roles", "Index", "~~Admin/Security.Roles")</li>
    <li>@Html.ActionLink("Manage Permissions", "Index", "~~Admin/Security.Permissions")</li>
</ul>